# Python cache datoteke
__pycache__/
*.pyc
.DS_Store

# Virtualna okolja
.venv/
venv/

# Vhodni in izhodni podatki
data/*
!data/.gitkeep
output/

# Modeli (mediapipe)
models/*
!models/.gitkeep

# Kalibracijske slike
calibration/left/*
calibration/mid/*
calibration/right/*
calibration/debug/*